@keyframes scale-up-top-right {
    0% {
        transform: scale(0);
        transform-origin: top right
    }

    100% {
        transform: scale(1);
        transform-origin: top right
    }
}

@keyframes scale-down-top-right {
    0% {
        transform: scale(1);
        transform-origin: right top;
    }

    100% {
        transform: scale(0);
        transform-origin: right top;
    }
}

@keyframes scale-up-horizontal-right {
    0% {
        transform: scaleX(0);
        transform-origin: right center
    }

    100% {
        transform: scaleX(1);
        transform-origin: right center
    }
}

@keyframes scale-down-horizontal-right {
    0% {
        transform: scaleX(1);
        transform-origin: center right
    }

    100% {
        transform: scaleX(0);
        transform-origin: center right
    }
}

@keyframes scale-up-center {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes scale-down-center {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

@keyframes scale-up-horizontal-left {
    0% {
        transform: scaleX(.5);
        transform-origin: left center
    }

    100% {
        transform: scaleX(1);
        transform-origin: left center
    }
}

.scale-up-top-right {
    animation: scale-up-top-right 0.2s;
}

.scale-down-top-right {
    animation: scale-down-top-right 0.2s;
}

.scale-up-horizontal-right {
    animation: scale-up-horizontal-right 0.2s
}

.scale-down-horizontal-right {
    animation: scale-down-horizontal-right 0.2s
}

.scale-up-center {
    animation: scale-up-center 0.2s;
}

.scale-down-center {
    animation: scale-down-center 0.2s;
}

.scale-up-horizontal-left {
    animation: scale-up-horizontal-left 0.4s
}