@media only screen and (width > 1280px) {
    .main {
        .container-user {
            .container-table {
                max-width: 1000px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .container-nav {

        .nav {
            width: 80px;

            img {
                display: none;
                width: 100%;
            }

            .header {
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    display: block;
                }

                span {
                    display: none;
                }
            }

            .menu {
                .container-item {
                    justify-content: center;

                    .text {
                        display: none;
                    }

                    &:hover {
                        animation: scale-up-horizontal-left 0.4s;
                        justify-content: start;
                        position: sticky;
                        width: max-content;

                        .text {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .container-is {
        .container-data-table {
            td {
                font-size: $Label-medium;
            }
        }
    }

}

@media only screen and (max-width: 992px) {

    .container-top-menu {
        .section-left {
            .btn-icon {
                transform: scale(1);
            }
        }
    }

    .container-nav {
        width: 0;

        .nav {
            transform: translateX(-$width-nav);

            img {
                display: block;
                width: 50px;
            }

            .header {
                padding: 10px;
                justify-content: start;

                span {
                    display: block;
                }
            }

            .menu {
                .container-item {
                    justify-content: start;

                    .text {
                        display: block;
                    }

                    &:hover {
                        animation: none;
                        width: auto;
                    }
                }
            }
        }
    }

    .handle-show {
        background-color: rgba($color: #000000, $alpha: .3);
        position: absolute;
        width: 100%;

        .nav {
            width: 280px;
            transform: translateX(0);
        }
    }

    .log-in-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .banner {
            all: unset;
            display: flex;

            &-content {
                padding: 0 1rem;

                &_img {
                    display: none;
                }
            }

            .text {
                font-size: $Headline-medium;
                text-align: center;
            }
        }

        .form-container {
            flex: 1;
        }

    }

    .container-dialog {
        .add-user {
            width: 500px;
        }
    }

    .container-is {
        .container-data-table {
            td {
                font-size: $Label-large;
            }
        }

        .content-data {

            flex-wrap: wrap;
        }
    }

}

@media only screen and (max-width: 768px) {

    .log-in-container {
        .banner {
            .text {
                font-size: $Title-large;
            }
        }

        .form-container {
            article {
                width: 300px;
            }

            form {
                .divide {
                    all: unset;
                }
            }
        }
    }

    .container-user {
        overflow: auto;
        padding: 1rem 1rem;

        .container-table {
            overflow: auto;
            display: flex;
            flex-direction: column;

            .data {
                display: block;
                overflow: auto;
                max-height: unset;
            }
        }
    }

    .container-table {

        table {
            border: 0;

            caption {
                font-size: 1.3em;
            }

            thead {
                display: none;
            }

            tr {
                display: block;
                margin-bottom: .625em;

                .actions {
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;
                }

                th,
                td {
                    height: auto;
                }

                td {
                    display: block;
                    font-size: $Body-medium;
                    text-align: right;

                    &:before {
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    :last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    .container-dialog {
        .add-user {
            width: 90%;

            form {
                .divide {
                    all: unset;
                }
            }
        }
    }

    .container-data-table {

        table {
            thead {
                display: none;
            }

            tr {
                td {
                    display: flex;
                    justify-content: space-between;
                    gap: 1rem;
                    text-align: end;

                    &:before {
                        content: attr(data-label);
                        float: left;
                        font-weight: bold;
                        text-transform: uppercase;
                    }


                    &:last-child {
                        padding-bottom: .5rem;
                        border-bottom: 1px solid color-mix(in srgb, currentColor 10%, transparent);
                    }
                }
            }
        }
    }

    .container-is {
        .container-data-table {
            td {
                font-size: $Label-medium;
            }
        }
    }
}

@media only screen and (max-width: 576px) {}