@import './variables';

* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$up-shadow-elevation: color-mix(in srgb, var(--shadow) 14%, transparent);
$down-shadow-eleavtion: color-mix(in srgb, var(--shadow) 12%, transparent);
$expand-shadow-elevation: color-mix(in srgb, var(--shadow) 20%, transparent);

$shadow-up: (
    1: 0 0 1px 0 $up-shadow-elevation,
    2: 0 0 3px 0 $up-shadow-elevation,
    3: 0 1px 6px 0 $up-shadow-elevation,
    4: 0 2px 4px 0 $up-shadow-elevation,
    5: 0 4px 6px 0 $up-shadow-elevation,
);

$shadow-down: (
    1: 0 1px 1px 0 $down-shadow-eleavtion,
    2: 0 3px 3px 0 $down-shadow-eleavtion,
    3: 0 3px 4px 0 $down-shadow-eleavtion,
    4: 0 4px 5px 0 $down-shadow-eleavtion,
    5: 0 4px 5px 0 $down-shadow-eleavtion,
);

$ambient-shadow: (
    1: 0 0px 5px 0 $expand-shadow-elevation,
    2: 0 1px 6px 0 $expand-shadow-elevation,
    3: 0 1px 9px 0 $expand-shadow-elevation,
    4: 0 1px 9px 0 $expand-shadow-elevation,
    5: 0 1px 11px 0 $expand-shadow-elevation,
);

$margin: (
    1:1px,
    2:2px,
    3:3px,
    4:4px,
    5:5px,
    6:6px,
    7:7px,
    8:8px,
    9:9px,
    10:10px,
    11:11px,
    12:12px,
    13:13px,
    14:14px,
    15:15px,
    16:16px,
    17:17px,
    18:18px,
    19:19px,
    20:20px,
);

@mixin elevation ($elevation) {
    box-shadow:
        map-get($shadow-up, $elevation),
        map-get($shadow-down, $elevation),
        map-get($ambient-shadow, $elevation);
}

@mixin mt ($size) {
    margin-top: map-get($margin, $size );
}

@for $i from 1 through 20 {
    .mt-#{$i} {
        @include mt($i);
    }
}


@for $elevation from 1 through 5 {
    .elevation-#{$elevation} {
        @include elevation($elevation);
    }
}

:root[data-theme="theme-dark"] {
    .img-dark {
        filter: grayscale(100%) contrast(1) invert(1);
    }
}