:root[data-theme="theme-light"] {
    --primary: color-mix(in srgb, var(--color-primary) 100%, white);
    --surface: color-mix(in srgb, var(--color-surface) 100%, white);
    --onSurface: color-mix(in srgb, var(--primary) 10%, black);
    --outline: color-mix(in srgb, var(--color-outline) 100%, white);
    --error: color-mix(in srgb, var(--color-error) 100%, white);
    --shadow: var(--outline);
}

:root[data-theme="theme-dark"] {
    --primary: color-mix(in srgb, var(--color-primary) 50%, white);
    --surface: color-mix(in srgb, var(--color-primary)20%, black);
    --onSurface: color-mix(in srgb, var(--primary) 60%, white);
    --outline: color-mix(in srgb, var(--color-outline) 60%, white);
    --error: color-mix(in srgb, var(--color-error) 70%, white);
    --shadow: var(--outline);
}

$width-nav: 280px;
$height-table: 400px;

$Display-large: 57px;
$Display-medium: 45px;
$Display-small: 36px;

$Headline-large: 32px;
$Headline-medium: 28px;
$Headline-small: 24px;

$Title-large: 22px;
$Title-medium: 16px;
$Title-small: 14px;

$Body-large: 16px;
$Body-medium: 14px;
$Body-small: 12px;

$Label-large: 14px;
$Label-medium: 12px;
$Label-small: 11px;