.container-is {
    @extend .Page;
    overflow: auto;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        h1 {
            @extend .Headline-large;
            font-weight: 500;
        }

    }

    .content-data {
        display: flex;
        overflow: auto;
        gap: 1rem;
        padding: .5rem;
        flex: 1;
        // border: 1px solid red;
    }
}