@keyframes entryPathIcon {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.icon {
    color: currentColor;
    width: 25px;
    height: 25px;

    path {
        color: currentColor;
    }

    &-rotate {
        animation: rotating 10s linear infinite;
    }
}

.button {
    @extend .Title-medium;
    border: none;
    justify-content: center;
    align-items: center;
    color: var(--surface);
    height: 45px;
    padding: 0 1rem;
    border-radius: 6px;
    background-color: var(--primary);
    transition: all ease-in-out 200ms;
    cursor: pointer;

    .icon {
        color: currentColor;

        path {
            color: currentColor;
        }
    }

    &-small {
        @extend .button;
        @extend .Title-small;
        height: 35px;
        display: inline-flex;
        gap: 10px;
    }



    &:hover {
        box-shadow: none;
        background-color: color-mix(in srgb, var(--primary) 60%, black);
    }
}

.btn-icon {
    all: unset;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    background-color: color-mix(in srgb, currentColor 3%, transparent);

    &-delete {
        color: var(--error);
    }

    &-small {
        .icon {
            width: 22px;
            height: 22px;
        }
    }


    &:hover {
        background-color: color-mix(in srgb, var(--surface) 80%, currentColor);
    }

}

.btn-icon-animate {
    @extend .btn-icon;

    .icon {
        path {
            animation: entryPathIcon;
            animation-duration: 255ms;
        }
    }
}

:root[data-theme="theme-dark"] {

    .button {
        color: var(--surface);

        &:hover {
            background-color: color-mix(in srgb, var(--primary) 60%, white);
        }
    }

    // .btn-icon {
    //     color: var(--primary);

    //     &-delete {
    //         color: var(--error);
    //     }

    //     &:hover {
    //         background-color: color-mix(in srgb, currentColor 40%, black);
    //     }

    // }
}