.container-calendar {
    color: var(--onSurface);

    *::-webkit-scrollbar {
        width: 1px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--primary);
    }

    .values {
        color: currentColor;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        gap: 5px;
        max-height: 400px;
        overflow-y: auto;
        padding: 1rem 0;

        .value {
            @extend .Title-small;
            // width: max-content;
            padding: .5rem 1rem;
            border-radius: 20px;
            cursor: pointer;
        }

        .current {
            background-color: var(--primary);
            color: var(--surface);
        }
    }

    .year {
        justify-items: center;
        text-align: center;
        @extend .values;
    }

    .month {
        text-transform: capitalize;
        @extend .values;
    }


    .calendar {
        color: currentColor;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        list-style: none;
        text-align: center;
        gap: 2px;

        li {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            border: 1px solid transparent;
            border-radius: 50%;
            color: currentColor;
        }

        .day-name {
            color: var(--onSurface);
            font-weight: 400;
        }

        .today {
            border-color: color-mix(in srgb, var(--primary) 40%, black);
            border-color: var(--primary);
        }

        .selected {
            background-color: var(--primary);
            color: var(--surface);
        }

        .overflow {
            color: color-mix(in srgb, var(--outline) 50%, transparent);
        }

        .Day {
            cursor: pointer;

            &:hover {
                background-color: color-mix(in srgb, var(--primary) 30%, transparent);
                color: var(--onSurface);
            }
        }
    }
}