.container-data-table {
    @extend .elevation-2;
    position: relative;
    width: 100%;
    height: max-content;
    border-radius: 10px;

    *::-webkit-scrollbar {
        width: 1px;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--primary);
    }

    .color-table {
        // background-color: color-mix(in srgb, var(--primary) 50%, black);
        background-color: color-mix(in srgb, var(--primary) 10%, white);
        // color: color-mix(in srgb, var(--surface) 90%, black);
    }

    // .btn-icon {
    //     .icon {
    //         color: color-mix(in srgb, var(--surface) 90%, black);
    //     }

    //     &:hover {
    //         background-color: color-mix(in srgb, var(--surface) 20%, transparent);
    //     }
    // }

    &_header {
        @extend .color-table;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;


        .actions {
            display: inline-flex;
            gap: 5px;

            // .fetch {
            //     background-color: red;
            //     width: 50px;
            //     height: 50px;
            // }
        }
    }

    section {
        max-height: $height-table;
        overflow-y: auto;

        table {
            border-collapse: collapse;
            width: 100%;

            .selected {
                // color: color-mix(in srgb, var(--error) 60%, white);
                color: var(--primary);
                background-color: color-mix(in srgb, var(--primary) 10%, transparent);
            }

            * {
                text-wrap: balance;
            }

            thead {
                @extend .color-table;
                position: sticky;
                top: 0px;
            }

            tbody {
                tr {
                    border: 1px solid color-mix(in srgb, var(--outline) 10%, transparent);
                }

                td {
                    @extend .Label-large;
                }
            }

            tr {
                height: 2.5rem;

                th {
                    text-transform: uppercase;
                    padding: 0 10px;
                }

                td {
                    font-weight: 300;
                    padding: 0 10px;

                }

                &:nth-child(even) {
                    background-color: color-mix(in srgb, var(--primary) 1%, transparent);
                }
            }

        }
    }

    footer {
        @extend .color-table;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: relative;
        width: 100%;
        gap: 10px;

        .select {
            @extend .Title-small;
            @extend .elevation-1;
            padding: 3px 5px;
            border: 1px solid color-mix(in srgb, var(--outline) 20%, transparent);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            // gap: 2px;
            background-color: var(--surface);
            color: var(--onSurface);
            cursor: pointer;

            .icon {
                width: 20px;
                height: 20px;
            }

            &:hover {
                box-shadow: none;

                .icon {
                    path {
                        color: var(--primary);
                    }
                }
            }
        }

        .description {
            display: flex;
            gap: 5px;
        }

        .arrows {
            display: inline-flex;
            gap: 5px;
        }

        .rotate {
            transform: rotate(180deg);
        }


    }
}

:root[data-theme="theme-dark"] {

    .container-data-table {

        .color-table {
            background-color: color-mix(in srgb, var(--primary) 50%, black);
        }

        section {
            table {
                .selected {
                    color: var(--surface);
                    background-color: color-mix(in srgb, var(--primary) 50%, transparent);
                }

                tr {
                    &:nth-child(even) {
                        background-color: color-mix(in srgb, var(--outline) 10%, transparent);
                    }
                }
            }
        }

        .icon {
            path {
                color: var(--onSurface);
            }
        }
    }
}