.Display-large {
    font-size: $Display-large;
    font-weight: 400;
}

.Display-medium {
    font-size: $Display-medium;
    font-weight: 400;
}

.Display-small {
    font-size: $Display-small;
    font-weight: 400;
}

.Headline-large {
    font-size: $Headline-large;
    font-weight: 400;
}

.Headline-medium {
    font-size: $Headline-medium;
    font-weight: 400;
}

.Headline-small {
    font-size: $Headline-small;
    font-weight: 400;
}

.Title-large {
    font-size: $Title-large;
    font-weight: 400;
}

.Title-medium {
    font-size: $Title-medium;
    font-weight: 500;
}

.Title-small {
    font-size: $Title-small;
    font-weight: 500;
}

.Label-large {
    font-size: $Label-large;
    font-weight: 500;
}

.Label-medium {
    font-size: $Label-medium;
    font-weight: 500;
}

.Label-small {
    font-size: $Label-small;
    font-weight: 500;
}

.Body-large {
    font-size: $Body-large;
    font-weight: 400;
}

.Body-medium {
    font-size: $Body-medium;
    font-weight: 400;
}

.Body-small {
    font-size: $Body-small;
    font-weight: 400;
}