.Display-large {
    color: currentColor;
    font-size: $Display-large;
    font-weight: 400;
    line-height: 64px;
}

.Display-medium {
    color: currentColor;
    font-size: $Display-medium;
    font-weight: 400;
    line-height: 52px;
}

.Display-small {
    color: currentColor;
    font-size: $Display-small;
    font-weight: 400;
    line-height: 44px;
}

.Headline-large {
    color: currentColor;
    font-size: $Headline-large;
    font-weight: 400;
    line-height: 40px;
}

.Headline-medium {
    color: currentColor;
    font-size: $Headline-medium;
    font-weight: 400;
    line-height: 36px;
}

.Headline-small {
    color: currentColor;
    font-size: $Headline-small;
    font-weight: 400;
    line-height: 32px;
}

.Title-large {
    color: currentColor;
    font-size: $Title-large;
    font-weight: 400;
    line-height: 28px;
}

.Title-medium {
    color: currentColor;
    font-size: $Title-medium;
    font-weight: 500;
    line-height: 24px;
}

.Title-small {
    color: currentColor;
    font-size: $Title-small;
    font-weight: 500;
    line-height: 20px;
}

.Body-large {
    color: currentColor;
    font-size: $Body-large;
    font-weight: 400;
    line-height: 24px;
}

.Body-medium {
    color: currentColor;
    font-size: $Body-medium;
    font-weight: 400;
    line-height: 20px;
}

.Body-small {
    color: currentColor;
    font-size: $Body-small;
    font-weight: 400;
    line-height: 16px;
}

.Label-large {
    color: currentColor;
    font-size: $Label-large;
    font-weight: 500;
    line-height: 20px;
}

.Label-medium {
    color: currentColor;
    font-size: $Label-medium;
    font-weight: 500;
    line-height: 16px;
}

.Label-small {
    color: currentColor;
    font-size: $Label-small;
    font-weight: 500;
    line-height: 16px;
}