@import './base/index';

.full-page {
    background-color: var(--surface);
    height: 100vh;
    width: 100%;
    transition: background-color 150ms ease-in-out;

    .content {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: auto;

        .main {
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow: auto;
        }
    }
}

.full-flex {
    display: flex;
    flex: 1;
}

@import './components/index';
@import './pages/index';
@import './base/media';